@use "../../theme/variables.module.scss" as theme;
@use "sass:map";

.cardRoot {
    width: 14.06rem;
}

.listItem {
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
}

.avaterColored {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
    background: map.get(theme.$palette, "primary", "main") !important;
    color: #fff !important;
}

.divider {
    margin: 0px;
    height: 2px;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(194 194 194 / 50%);
}
