.tooltipContainer {
    position: relative;
    z-index: 3000;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background-color: rgb(62, 62, 62);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 0.6875rem;
    max-width: 300px;
    font-weight: 500;

    &_top {
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        &::before {
            content: "";
            position: absolute;
            border-width: 10px;
            border-style: solid;
            border-color: rgb(62, 62, 62) transparent transparent transparent;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_bottom {
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        &::before {
            content: "";
            position: absolute;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent rgb(62, 62, 62) transparent;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_left {
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
        &::before {
            content: "";
            position: absolute;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent rgb(62, 62, 62);
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_right {
        top: 50%;
        left: 45px;
        transform: translateY(-50%);
        &::before {
            content: "";
            position: absolute;
            border-width: 10px;
            border-style: solid;
            border-color: transparent rgb(62, 62, 62) transparent transparent;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
